.wrapper {
    max-width: 70rem;
    /* 70*16=1120/ 1120/70=16 */
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;

}